<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sskim.mapper.ReplyMapper">

    <select id="list" resultType="ReplyVO">
        SELECT *
        FROM sskim_reply
        WHERE bno = #{bno}
        ORDER BY rno DESC
    </select>

    <insert id="create">
        INSERT INTO sskim_reply (bno, replytext, replyer)
        VALUES (#{bno}, #{replytext}, #{replyer})
    </insert>

    <update id="update">
        UPDATE sskim_reply
        SET replytext = #{replytext}, updatedate = now()
        WHERE rno = #{rno}
    </update>

    <delete id="delete">
        DELETE FROM sskim_reply
        WHERE rno = #{rno}
    </delete>

    <select id="listPage" resultType="ReplyVO">
        SELECT *
        FROM sskim_reply
        WHERE bno = #{bno}
        ORDER BY rno DESC
        LIMIT #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="count" resultType="int">
        SELECT count(bno)
        FROM sskim_reply
        WHERE bno = #{bno}
    </select>

</mapper>
